form, fieldset {
    max-width: max-content;
    margin: auto;
    width: 50%;
}
fieldset {
    text-align: center;
}
form {
    margin: 0px;
    display: inline;
}
label, input {
    margin-bottom: 10px;
}

