form {
    max-width: max-content;
    margin: auto;
    width: 50%;
    border-radius: 10px;
    background-color: lightblue;
    padding: 10px;
}
h1 {
    text-align: center;
}
.success {
    color: green;
}
.error {
    color: red;
}